<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css">
</head>
<body>

<h1>Minesweeper2</h1>

<% for (let rr = 0; rr < rows; rr++) { %>
       <span>
<%     for (let cc = 0; cc < cols; cc++) { %>
            <input type="button" id=button_<%= rr %>_<%= cc %>  class="game_button">
<%     }  %>
       </span>
       <br/>
<% } %>

</body>
</html>

