<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.game_button {
  background-color: lightred;
}
</style>
</head>
<body>

<h1>Minesweeper</h1>

<% for (let rr = 0; rr < rows; rr++) { %>
       <span>
<%     for (let cc = 0; cc < cols; cc++) { %>
            <input type="button" id=button_<%= rr %>_<%= cc %>  class="game_button">
<%     }  %>
       </span>
       <br/>
<% } %>

</body>
</html>

