<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1>Minesweeper</h1>
<form action="/game_click" method="post" enctype="multipart/form-data">
<% for (let rr = 0; rr < rows; rr++) { %>
       <span>
<%     for (let cc = 0; cc < cols; cc++) { %>
            <input type="submit" name=button_<%= rr %>_<%= cc %>  class="game_button">
<%     }  %>
       </span>
       <br/>
<% } %>
</form>
</body>
</html>

