<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Minesweeper</h1>
<form action="/new_game" method="post" enctype="multipart/form-data">
    <label for="minepercentageid">Mine Percentage:</label>
    <input type="range" id="minepercentageid" name="minepercentagename" min="10" max="40" value="25" oninput="this.nextElementSibling.value=this.value">
    <output for="minepercentageid">25</output>
    <br>
    <input type="submit" value="NEW GAME">
</form>
</body>
</html>
