<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Minesweeper</h1>
<form action="/new_game" method="post" enctype="multipart/form-data">
<input type="submit" name="gametype" value="EASY">
<input type="submit" name="gametype" value="HARD">
</form>
</body>
</html>
