<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Minesweeper</h1>
<form action="/new_game" method="post">
<input type="radio" name="gametype" value="EASY"  checked><label>EASY</label><br>
<input type="radio" name="gametype" value="HARD"><label>HARD</label><br>
<input type="submit" value="NEW GAME">
</form>
</body>
</html>
