<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Minesweeper</h1>
<form action="/new_game" method="post" enctype="multipart/form-data">
  <input type="range" name="mine_percentage" min="10" max="40" value="25">
  <input type="submit" value="NEW GAME">
</form>
</body>
</html>
