<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Minesweeper</h1>
<input type="button" onclick="window.location.href='/new_game_easy'" value="NEW GAME - EASY">
<input type="button" onclick="window.location.href='/new_game_hard'" value="NEW GAME - HARD">
</body>
</html>
