
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.game_button {
  background-color: blue;
  width: 3%;
  height: 3%;
}

.opened {
  background-color: white;
  width: 3%;
  height: 3%;
}

.flagged {
  background-image: url('/css/icons8-flag-filled-96.png');
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
  width: 3%;
  height: 3%;
}

.mine {
  background-image: url('/css/icons8-explosive-60.png');
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
  width: 3%;
  height: 3%;
}

/*hide default radio */
input[type="radio"] {
        -webkit-appearance: none; /* For Safari/Chrome */
        -moz-appearance: none;    /* For Firefox */
        appearance: none;
        /* You might also want to set width/height to 0 or use position: absolute and opacity: 0 */
}

/* CHECKED STYLES */
input[type=radio]:checked + img {
  border: 2px solid #f00;
}


