
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

.game_button {
  background-color: blue;
  width: 3%;
  height: 3%;
}

.opened {
  background-color: white;
  width: 3%;
  height: 3%;
}

.flagged {
  background-image: url('/css/icons8-flag-filled-96.png');
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
  width: 3%;
  height: 3%;
}

.mine {
  background-image: url('/css/icons8-explosive-60.png');
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
  width: 3%;
  height: 3%;
}



/* CHECKED STYLES */
input[type=radio]:checked + img {
  border: 2px solid #f00;
}


