
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.game_button {
  background-color: blue;
  width: 2%;
  height: 2%;
}

.opened {
  background-color: white;
  width: 2%;
  height: 2%;
}


